/* src/App.css */

/* General styling for the app container */
.App {
  text-align: center;
  margin: 20px;
  position: relative; /* To position the buttons container absolutely within the app container */
  background-color: #abc9de; /* Light blue background */
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
  padding-top: 20px;
}

h3 {
  text-align: center;
  padding-top: 20px;
}

/* Styling for the scene text */
p {
  text-align: center;
  font-size: 18px;
  margin: 200px;
  padding-top: 10px;
  padding-bottom: 10px; /* Add padding to avoid text being obscured by fixed buttons */
}

/* Centering the navbar links */
.navbar-nav-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  flex: 1; /* Take up remaining space */
}

.navbar-nav {
  display: flex;
  flex-direction: row; /* Align items in a row */
}

.nav-item {
  margin: 0 10px; /* Space between each nav item */
}

/* Optional: Make sure the navbar items are vertically centered */
.navbar-nav .nav-link {
  line-height: 2.5; /* Adjust according to your design */
}

/* Container for buttons */
.buttons-container {
  position: fixed; /* Fixes the position relative to the viewport */
  bottom: 20px; /* Space from the bottom of the viewport */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Offset left by 50% of the container width to center it */
}

ul {
  list-style-type: none;
  padding: 0; /* Removes default padding */
  margin: 0; /* Removes default margin */
  display: flex; /* Use flexbox for layout */
  justify-content: center; /* Center items horizontally */
  gap: 10px; /* Add space between buttons */
}

/* Style each list item */
li {
  margin: 10px 0;
}

/* Style buttons within list items */
button {
  background-color: #4c54af; /* Green background */
  color: white; /* White text color */
  border: none; /* No border */
  padding: 10px 20px; /* Padding inside the button */
  text-align: center; /* Center text inside the button */
  text-decoration: none; /* No underline */
  display: inline-block; /* Inline-block display */
  font-size: 16px; /* Font size */
  margin: 4px 2px; /* Margin around the button */
  cursor: pointer; /* Pointer cursor on hover */
  border-radius: 5px; /* Rounded corners */
  transition: background-color 0.3s; /* Smooth background color transition */
}

/* Button hover effect */
button:hover {
  background-color: #3c428b; /* Darker green on hover */
}
